<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DEVAChat</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <nav class="navbar navbar-dark">
            <a class="navbar" href="#"><b>DEVAChat</b></a>
        </nav>

        <div class="card-group row">
            <div id="chat-app" class="card col-md-9">
                <ul id="chat-messages" class="list-group scroll borderless">
                    <li v-if = "joined" v-for="m in messageList" class="list-group-item borderless">
                        <div v-if = "m.text == 'joined'"> 
                            <b>{{m.username}} joined chat. </b><sub style="color:#706a6a;">  {{m.date}}</sub>
                        </div>
                        <div v-else-if = "m.text == 'left'"> 
                            <b>{{m.username}} left chat. </b><sub style="color:#706a6a;">  {{m.date}}</sub>
                        </div>
                        <div v-else>
                            <span v-bind:style="{ color: m.userColor }"><b>{{m.username}}: </b></span> {{ m.text }} <sub style="color:#706a6a;">  {{m.date}}</sub>
                        </div>
                    </li>
                </ul>
                <div class="row" v-if="joined">
                    <div class="col-lg-12">
                        <div class="input-group input-group-lg">
                            <input type="text" v-model="newMsg" @keyup.enter="sendMessage" class="form-control input-lg" placeholder="Write message here." required>
                            <span class="input-group-btn">
                                <button @click.prevent="sendMessage" class="btn btn-default btn-lg" type="submit">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="!joined">
                    <div class="col-lg-12">
                        <div class="input-group input-group-lg">
                            <input type="text" v-model.trim="username" @keyup.enter="join" class="form-control input-lg" placeholder="Username">
                            <span class="input-group-btn">
                                <button @click.prevent="join" class="btn btn-default btn-lg" type="submit">Join</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="user-list" class="card col-md-3">
                <ul class="list-group scroll borderless">
                    <li v-if = "joined" v-for="m in messageList" class="list-group-item borderless">
                        {{m.username}}
                    </li>
                </ul>
            </div>
        </div>
        
                      
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        
        <script src="main.js"></script>
    </body>
</html>
