body {
  background: rgb(192, 225, 228);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(220, 225, 235), rgb(210, 220, 240));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(220, 225, 235), rgb(210, 220, 240)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
}

nav.navbar{
  background-color: #4e80ca;
}

a.navbar{
  color: #ffffff; 
  font-size:22px;
}

.borderless { 
  border-top: 0 none; 
}

.scroll {
  min-height: 10vh;
  height: 80vh;
  width: 100%;
  overflow-y: auto;
}
.input-group {
  height: 9vh;
}
